*{
	margin:0; 
	padding: 0; 
	box-sizing: border-box;
}
body{
	font-size: 20px;
}
p{
	background: #888888;
	padding: 3px;
	position:fixed;
	bottom: 0;
	width: 100%;
}
#msgblock{
	border: 0;
	padding: 10px;
	width:65%;
}
#send_button{
	width: 9%;
	background: rgb(80,155,155);
	border: none;
	padding:10px;
	margin-right:15px;
	margin-left:15px;
	cursor:pointer;
	font-size:15px;
}
